# Librerías esenciales
numpy
pandas
openpyxl
geopy
streamlit-folium
scikit-learn
KNN
joblib
pycaret
pandas_label_encoder
streamlit_option_menu

# Visualizaciones
matplotlib
seaborn
plotly-express

# Modelado y computación
ortools
folium

# APIs y scripts
wandb
streamlit
Flask
gunicorn
pyyaml
fire

# Miscelánea
geopandas
chart-studio
nltk
kaggle