# Librerías esenciales
numpy
pandas
openpyxl
geopy
streamlit-folium
sklearn
KNN
spicy
pyod.models.knn
numba>=0.51
joblib
pycaret

# Visualizaciones
matplotlib
seaborn
plotly-express

# Modelado y computación
scikit-learn
ortools
folium

# APIs y scripts
wandb
streamlit
Flask
gunicorn
pyyaml
fire

# Miscelánea
geopandas
chart-studio
nltk
kaggle